.container {
    max-width:958px;
    width: 100%;
    max-height: 594px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BE0909;
}
.card-text {
    max-width:609px;
    width: 100%;
    background-color: rgb(0, 217, 255);
    padding-left: 30px;
    display: block;

}
.card-name {
    display: block;
    background-color: green;
}
.card-email {
    display: block;
    background-color: yellow;
}
.card-message-title {
    background-color: violet;
    
}
.card-message {
    background-color: chartreuse;
    display: block;
}
.card-btn {
    display: flex;
    justify-content: center;
    align-items: end;
}
input {
    cursor: text;
}
label {
    color: #FFFF;
}
button {
    border: none;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #468189;
    color: aliceblue;
    font-size: 18px;
    max-width: 202px;
    width: 100%;
    max-height: 48px ;
    height: 100%;
    border-radius: 40px;
}